<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aboutus</title>
    </head>
</html>
<p></p>
    <mat-tab-group mat-align-tabs="center" animationDuration="2000ms">
        
        <mat-tab [label]="'Four Principles'">
            <div>
            <main>
                    <img class="investingpic" src="/assets/Principles.jpg" alt="">
                </main>
                </div>
                <h1>
                    Four principles for successful investing
                </h1>
                <div class="inner">
                    <h1>Goals</h1>
                        <p>Create clear, appropriate investment goals.     
                        </p>
                        <p>
                        An appropriate investment goal should be measurable and attainable. Success should not depend on outsized investment returns or impractical saving or spending targets.
                        Defining goals clearly and being realistic about ways to achieve them can help safeguard investors from common mistakes.
                        </p>
                    <h1>Balance</h1>
                        <p>
                        <p>Develop a suitable asset allocation using broadly diversified funds.
                        </p>   
                        <p>
                        A sound investment strategy starts with an asset allocation—a mix of assets with different characteristics, such as stocks, bonds, and cash equivalents—befitting the portfolio’s objective. The asset mix should reflect reasonable expectations for risk and returns and use diversified investments to avoid exposure to unnecessary risks.
                        Both asset allocation and diversification are rooted in the idea of balance. Because all investments involve risk, investors must manage the balance between risk and potential reward through the choice of portfolio holdings.
                        </p>
                    <h1>Cost</h1>
                        <p>Minimize cost.   
                        </p>
                        <p>
                        Markets are unpredictable. Costs are forever. The lower the costs of investing, 
                        the greater share of an investment’s return an investor can capture. 
                        And research suggests that lower-cost investments have tended to outperform higher-cost alternatives.
                        To hold on to even more return, 
                        investments should be managed for tax efficiency. Investors can’t control the markets, but they can control the bite of costs and taxes.
                        </p>
                    <h1>Discipline</h1>
                        <p>Maintain perspective and long-term discipline.
                        </p>
                        <p>
                        Investing can provoke strong emotions. In the face of market turmoil, 
                        some investors may find themselves making impulsive decisions or, conversely, becoming paralyzed, 
                        unable to implement an investment strategy or rebalance a portfolio as needed. Discipline and perspective, 
                        which includes impartial financial advice for those who want it, can help investors remain committed to a long-term 
                        investment program through periods of market uncertainty.
                        </p>
                </div>

        </mat-tab>
        <mat-tab [label]="'Brokerage or IRA'">
            <div>
                <main>
                        <img class="irapic" src="/assets/IRA_picture.jpg" alt="">
                    </main>
                    </div>
                <h1>Brokerage Account vs. IRA</h1>
                <div class="inner">
                    Brokerage accounts and IRAs are investment accounts that allow you to buy and sell stocks, ETFs, bonds, mutual funds, real estate investment trusts (REITs), and other securities. 
                    In general, investors use brokerage accounts for day trading, long-term investing, and to save for short-term financial goals like buying a house or car. Meanwhile, IRAs offer investors a tax-advantaged way to save for retirement. 
                    It can be a smart financial move to have both types of accounts. That way you can take advantage of the brokerage account’s flexibility and the IRA’s tax benefits simultaneously. Financial planners often recommend investing in this order:

            <ul>
                <li>If you have a 401(k) plan, contribute enough to get 
                    the company match first—it’s like getting free money.</li>
                <li>Max out your IRAs to take advantage of the tax benefits and the power of compounding. </li>
                <li>Invest through your brokerage account.</li>
            </ul>
                </div>
                <h1>What Is a Brokerage Account?</h1>
                <div class="inner">
                <p>
                As noted, a brokerage account is a taxable account that enables you to buy 
                and sell stocks and other securities. You can buy and sell securities freely, 
                with no caps on the amount you invest—and you can sell your investments 
                anytime without penalty. As far as tax treatment goes, you’ll pay taxes on 
                interest, dividend, and capital gain income in the tax year you earn it. 
                There are dozens of brokerage firms and choosing the best broker for you 
                depends on your investing style, preferred investments, and the features you 
                want in a trading platform. Once you decide on a brokerage firm, you can open 
                and fund an account online, usually in a matter of minutes.
                </p>
                </div>
                <h1>What is an IRA?</h1>
                <div class="inner">
                    An individual retirement account, or IRA, is a tax-advantaged investment 
                    account designed for retirement savers. The investment choices are limited compared to brokerage accounts (for example, you can’t hold naked options), but earnings grow tax-free or tax-deferred, depending on whether you have a Roth or traditional IRA.1
                    Unlike brokerage accounts, IRAs have strict contribution limits. 
                    For the 2021 and 2022 tax years, you can contribute up to $6,000 to your 
                    IRA accounts, or $7,000 if you’re age 50 or older.2 
                    Roth IRAs (but not traditional IRAs) also have income limits: For 2021, 
                    you can only contribute the full amount if your income is less 
                    than $125,000 for single filers or $198,000 if you’re married filing 
                    jointly.3 These limits increase for the 2022 tax year when the phaseout 
                    begins at $129,000 for single filers and $204,000 for married couples 
                    filing jointly.4
                </div>
                </mat-tab>
                <mat-tab [label]="'Investing Millennials'">
                    <div>
                        <main>
                                <img class="millenialpic" src="/assets/millenials.jpg" alt="">
                            </main>
                            </div>
                <h1>Investment Advice for Millennials</h1>
                <div class="inner">
                <p>
                    Are you planning for financial emergencies or your eventual retirement even 
                    if you are just starting to establish yourself in your chosen career?
                    In a November publication by the US Bureau of Labor Statistics, one of the 
                    fastest growing careers is financial planning with Certified Financial Planners increasing by 54% in the past decade. The primary reason for the need to seek financial advice especially in investments and retirement is because there are too many products in the market as well as uncertainties in local and global economies.
                    Other startling figures that should stir concern among the young working 
                    population include the cost of living keeps increasing regardless of your 
                    location, in the UK, the Public and Commercial Services Union predicts a 20% 
                    decrease income because of increases in pension contributions, pay cuts, and 
                    cost of living expenses. About 32% of Americans aged 18 to 29 are not saving 
                    for retirement and a retirement fund of less than $50,000 is not going to 
                    worth much with the high cost in medical care and treatments.      
                </p>
                </div>
                <h1>Why the Young Working Population are not Saving</h1>
                <div class="inner">
                <p>
                    There are several reasons why the Millennials are not too keen on saving 
                    for the future. The top reasons though are they are still paying for 
                    college loans, or they have gotten into the habit of using credit and 
                    slowly getting entangled with paying bills and luxuries on credit.
                    In addition, there is a pervading sense of “living for the moment” among
                    Millennials which encourages instant gratification. Unfortunately, 
                    this does not encourage growing in financial maturity and could even 
                    lead to problems related to addiction, procrastination, and self-control.
                </p>
                </div>
                <h1>How to Encourage Investments among Millennials</h1>
                <div class="inner">
                <p>
                    Not all those born in the millennial age are investment-ignorant or uninterested in saving for their future. However, compared to the 1970s, the so-called American dream (and its counterparts around the world) has changed drastically. Investing in a house is not as important anymore because of the property bubble catastrophe experienced by American homeowners in 2008-2009. For example, today, owning an apartment makes much more sense because you have the option of renting it out easily or living in it and taking in a roommate who will help pay bills and everyday expenses.
                    Anyone interested in encouraging the younger generation to start thinking 
                    about savings should focus on finding a good blend between providing them 
                    with gratification and giving them reason to save. With the number of 
                    highly advanced technological products being launched in the consumer 
                    market today, the ability to resist the temptation to buy the latest 
                    gadgets is severely challenged. How to help the younger generation learn 
                    to be satisfied with the gadgets they have instead of indulging their 
                    desires for new mobile phones and computer toys every half year or so is 
                    part of teaching them to be financially savvy.
                    Thus, a sense of responsibility for oneself should be reinforced 
                    especially because many governments around the world are unable to cope 
                    with the needs of their citizens. And this includes developed countries 
                    like the United States where in a national survey 79.8% of Americans feel 
                    that the so-called American Dream is not as feasible as it was 10 years 
                    ago.
                    </p>
                </div>
                <div>
                </div>
                </mat-tab>
                <mat-tab [label]="'Compound Interest'">
                    <div>
                        <main>
                                <img class="compoundpic" src="/assets/compound_interest.jpeg.jpg" alt="">
                            </main>
                            </div>
                <h1>The Power of Compound Interest</h1>
                <div class="inner">
                    <p>It is rumored that Albert Einstein once quipped that the most powerful force in the universe is the principle of compounding.1 In investing and finance, this force manifests itself through the concept of compounding returns. In simple terms, compound interest means that you begin to earn interest on the interest you receive, which multiplies your money at an accelerated rate.

                        For example, if you have $500 and earn 10% interest per year, you will have $550 after one year. Then, if you earn 10% interest the next year on that $550, you end up with $605 by the end of year two. The process continues until, eventually, your original $500 may be eclipsed by the amount of interest you gained.
                        
                        This is one way many top investors find success in building their wealth. But it's not just for the top investors—you can take advantage of compound interest through savings accounts and investment portfolios. Learn how to do that below.
                        
                        What Determines How Much Compound Interest You Can Earn?
                        There are three main factors that can influence the rate at which your money compounds:
                        
                        The rate of return, or the profit, on your investment: For example, if you are investing in dividend-paying stocks, this would be your total profit from capital gains and dividends. If you were putting money in a savings account, this would be the annual percentage yield (APY).
                        Time: The more time you give your money to build upon itself, the more it compounds. For example, all things equal, your money would grow more over a 10-year period than it would over a five-year period.
                        The tax rate, and when you have to pay taxes on your interest: You will end up with far more money if you don’t have to pay taxes at all, or at least not until the end of the compounding period rather than at the end of each year. This is why tax-deferred accounts, such as the traditional IRA, Roth IRA, 401(k), and SEP-IRA, are so important to consider.
                        Keep in mind that with traditional IRAs and 401(k) plans, you will owe taxes at your normal income tax rates at the time when you take money out of the account.2 A Roth IRA, and even a Roth 401(k), will grow and you won't owe taxes when you withdraw the money in retirement.</p>
                        </div>
                        <h1>Compound Interest and the Time Value of Money</h1>
                        <div class="inner">
                        <p>
                            The foundation behind compounding interest is the concept of the 
                            time value of money, which states that the value of money 
                            changes, depending upon when it is received. Having $100 today 
                            is preferable to receiving it a few years from now because you 
                            can invest it to generate dividends and interest income. 
                            Compounding allows that money to grow. If you waited two years 
                            to receive that $100, you'd miss out on two years of opportunity 
                            to earn compound interest. This is known as opportunity cost.
                        </p>
                        </div>
                        
                </mat-tab>


    </mat-tab-group>

<app-disclosure></app-disclosure>