
h1 {
    text-align: center
    
}

.inner {
    margin: auto;
    width: 70%;
    border: 3px solid #101d67;
    padding: 10px;
}


.investingpic {
    background-color: #101d67;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 5px;
    display: block;
    width: 35%;
    border-radius: 7px;
    display: inline-block;
    margin: 25px 10px;
  }

  div {
    text-align: center;
  }

  .irapic {
    background-color: #101d67;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 5px;
    display: block;
    width: 40%;
    border-radius: 7px;
    display: inline-block;
    margin: 25px 10px;
  }

  .compoundpic {
    background-color: #101d67;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 5px;
    display: block;
    width: 35%;
    border-radius: 7px;
    display: inline-block;
    margin: 25px 10px;
  }

  .millenialpic {
    background-color: #101d67;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 5px;
    display: block;
    width: 35%;
    border-radius: 7px;
    display: inline-block;
    margin: 25px 10px;
  }

// main {
//     width: 340px;
//     background-color: #fdfcfc;
//     font-size: 16px;
//     line-height: 22px;
//     color: #000;
//     border-radius: 7px;
//     box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.505);
//     margin: 50px auto;
//   }