
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marie's Calendar</title>
</head>
    <div style="padding: 2em">
        <div class="inner">
            <p style="padding: 1em">Kathy is the Head of Market Research and Analysis at Financial Understanding Now. She has almost three decades of experience in the fast-paced financial industry. She has been able to assess market changes in highly volatile markets to provide the safest industry-leaders to provide her clients an opportunity to grow their savings. As a Chartered Financial Analyst  and Chartered Financial Consultant she is experienced in understanding the goals and needs of our customers and providing solutions to achieve these in any market environment. </p>
        <iframe src="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ3uQioU-bzvjcEFxKkODYOwmkl-GW39XUqL9iMh_uFE6d5OdFvXo1te9NvhcX1RgjB_Dt8NLzs8" width="100%" height="400px"></iframe>
        </div>
    </div>
</html>












