
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marie's Calendar</title>
</head>
    <div style="padding: 2em">
        <div class="inner" style="padding: 1em">
            <p>Marie is our Client Relationships and Accounts Manager. She maintains the quality of interactions with our long-term clients and strategically plans for income growth investments. Her expertise is finding the best CD’s and Bonds for investment. As a Financial Risk Manager and Chartered Mutual Fund Counselor she is highly skilled at presenting options to our clients.
                Although only starting with our team in 2016, she has quickly taken center stage when it comes to providing our clients with the exceptional service they deserve. </p>
        <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ2ErM1FuQYDUZXBoZnGQX7FmIjZQAd4fYEkrhQFyRoX7Gs2_Azqz406Y9QoseiLGD3fYC0GYiJE" width="100%" height="400px"></iframe>
        </div>
    </div>
</html>

