
  <!-- begin footer --><footer class="footer text-white">

  <!-- begin copy right -->
  <!-- Importing fontawesome icons for social media labels-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <div class="footer-copyright text-center py-3">© 2022 Copyright:

    <a href="https://bit.ly/3PbAXHj">FUN</a>
    <img class="img" src="assets/FUNwhite.png" alt="">


        <a 
        class="btn btn-link btn-floating btn-lg text-light m-1"
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        role="button"
        data-mdb-ripple-color="light"
        ><i class="fa fa-google"></i
      ></a>

      <a
        class="btn btn-link btn-floating btn-lg text-light m-1"
        href="https://www.youtube.com/watch?v=6rYhRqf757I"
        role="button"
        data-mdb-ripple-color="light"
        ><i class="fa fa-facebook-f"></i
      ></a>

      <a
        class="btn btn-link btn-floating btn-lg text-light m-1"
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        role="button"
        data-mdb-ripple-color="light"
        ><i class="fa fa-twitter"></i
      ></a>

      <a
      class="btn btn-link btn-floating btn-lg text-light m-1"
      href="https://github.com/uralrdybread"
      role="button"
      data-mdb-ripple-color="light"
      ><i class="fa fa-github"></i
    ></a>

    <span>270 Lafayette Street, New York, NY</span>
    <p>Investing in stock markets involves the risk of loss. Past performance is not an indication of future performance.</p>
    

  </div>
  <!-- copyright ending -->
</footer>
<!-- footer ending -->
