
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marie's Calendar</title>
</head>
    <div style="padding: 2em">
        <div class="inner" style="padding: 2em">
                <p style="padding: 1em">Peter is the Founder of Financial Understanding Now with a passion for educating and assisting others to make the best plans possible for financial freedom. He has over 25 years experience helping customers plan for retirement. As a Certified Financial Retirement Advisor, his expertise is helping young adults understand the benefits of starting retirement planning early on in their professional careers. Peter has developed a unique ability to work directly with young professionals to help them become aware of financial strategies that will be instrumental in their success. He has spearheaded the charge in providing a more personalized and convenient way of connecting people to financial advisors.</p>
        <iframe style="padding: 2em"  src="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ2f_qe0nf0xGbm7uGpmyN29w-Nw6QNpavJlGzjIDkKl6xNJI_Sp86i6I54stdTXyD9H3aIJwS4-" width="100%" height="400px"></iframe>
        </div>
    </div>
</html>















