.buttons {
    display: block;
    margin: auto;
}
.center {
    align-items: center;
}
.spacer {
    flex: 1 1 auto;
}
.signup {
    float: right;
    margin-right: 10px;
}
.userProfile
{
    float: right;
    margin-right: 10px;
}

.logout
{
    float:right;
    margin-right: 10px;
}