<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aboutus</title>
  </head>
</html>
<div>
  <div style="padding: 2em">
    <h1>Who we are.</h1>
    <div class="divaboutus">
      <img class="funteam" src="/assets/funteam.jpg" alt="" />
    </div>
  </div>

  <div style="padding: 2em">
    <p class="inner">
      We are Financial Understanding Now. We’re proud to be a leader providing a
      more personalized and convenient way of connecting people to financial
      advisors.  We provide a service that everyone truly needs to make the best
      financial decisions throughout one’s life. These decision can be made at
      any time in your life, but will provide the best long-term results if
      started earlier than later. People who begin financial planning and
      investing in their early to mid 20’s are 10X more likely to have enough
      saved for retirement than those that begin in their 30’s or later.  We
      seek to create sustainable, long-term value. We understand that planning
      for your financial future requires a mindset of diligence, patience, and
      strategy. Our team of professionals will work to understand your financial
      needs and goals. One-on-one we will formulate an investment strategy that
      works for you. While we are experts in financial planning, you are the
      expert in your own life and goals and honestly know best what you seek for
      your future. We promise to do the hard part—taking an in-depth look at
      what’s happening in the market to offer the best services to our
      customers. We’ll provide all the information you will need to begin
      planning for a better future. We have experience in many different facets
      of financial planning and can help provide solutions for anyone. Whether
      you are planning for retirement, saving for a family including children’s
      education, eliminating any outstanding debts including student loans and
      credit card debts, and or looking to create additional income we can
      provide you with a more convenient and personalized service.   Let us be
      your partners for the future. You can rest assured you are in good hands
      with the expert financial advisors at Financial Understanding Now. We also
      can promise you, it’ll be F.U.N!
    </p>
  </div>
</div>
