
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marie's Calendar</title>
</head>
    <div style="padding: 2em">
        <div class="inner" style="padding: 2em">
            <p style="padding: 1em">Angela is a Co-Founder at Financial Understanding Now and has worked as a financial advisor, account executive, assistant manager, and vice president. She tirelessly works to expand the knowledge of her clients empowering them to have more financial freedom and responsibility. She has over 20 years experience and is a Certified Financial Planner and Chartered Financial Consultant. She has taken on challenging roles across the industry and worked tirelessly to produce exceptional results for her clients. </p>
        <iframe src="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ2xPcaDK5dj_CS8W1G9_Fm2yJSgg6ck7rX-iN2M5i2R-NO85k0p7tVkn3p0dUZNY4jB0DXu1BsZ" width="100%" height="400px"></iframe>
        </div>
    </div>
</html>














