<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <div style="padding: 2em"></div>
  <body>
    <div class="grid">
      <div class="player">
        <h1><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i></h1>
        <b>Address</b>
        <p>270 Lafayette Street, New York, NY</p>
      </div>
      <div class="player">
        <h1><i class="fa fa-phone fa-lg" aria-hidden="true"></i></h1>
        <b>Call Us</b>
        <p>+212-867-5309</p>
      </div>
      <div class="player">
        <h1><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></h1>
        <b>Email Us</b>
        <p>admin@financialfun.com</p>
      </div>
      <div class="player">
        <h1><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></h1>
        <b>Open Hours</b>
        <p>Monday - Friday</p>
        <p>8:00AM - 5:00pm</p>
      </div>
    </div>
    <div class="map" style="padding: 2em">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.7289415198447!2d-73.996478!3d40.72398319999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2598f125c2f03%3A0xdf8cec64016566ce!2s270%20Lafayette%20St%2C%20New%20York%2C%20NY%2010012!5e0!3m2!1sen!2sus!4v1657613680211!5m2!1sen!2sus"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </body>
</html>
