<div style="padding: 2em">
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Home</title>
    </head>
    <body>
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      />
      <div>
        <div class="logodiv">
          <img class="funlogo" src="/assets/SOLIDFUN.png" alt="" />
        </div>
        <div class="inner">
          <p style="font-size: 17px; text-align: center">
            Welcome to Financial Understanding Now! Our aim is to provide the
            resources to educate the public on being financially responsible. We
            know that managing your finances can be a difficult and daunting
            task at any stage in life. Our experienced team of advisors want to
            help you make the best financial decisions for you. No matter your
            age, goals, or risk tolerance there is an advisor that can meet your
            financial needs. Take our survey below to get matched with an
            advisor who will help you curate your own personalized portfolio.
          </p>
        </div>
      </div>


      <div class="inner2">
      <div class="homecards" style="padding: 2em">
        <div class="card">
          <img
            src="/assets/businessteam.jpg"
            alt="Avatar"
            style="width: 100%"
          />
          <div class="container">
            <h4><b>An Experienced Management Team</b></h4>
            <p>
              You will have a dedicated Investment Advisor who provides personal
              attnetion and ongoing service. Take our suvery to match with our
              qualified advisors.
            </p>
            <button type="button" class="btn">
              <a mat-raised-button color="accent" routerLink="/advisors">
                Meet our advisors</a
              >
            </button>
          </div>
        </div>

        <div class="homecards">
          <div class="card">
            <img
              src="/assets/businessman.jpg"
              alt="Avatar"
              style="width: 100%"
            />
            <div class="container">
              <h4><b>A Dedicated Investment Advisor</b></h4>
              <p>
                You will have a dedicated Investment Advisor who provides
                personal attnetion and ongoing service. Take our suvery to match
                with our qualified advisors.
              </p>
              <button type="button" class="btn">
                <a mat-raised-button color="accent" routerLink="/survey">
                  Take a survey</a
                >
              </button>
            </div>
          </div>

          <div class="homecards">
            <div class="card">
              <img
                src="/assets/education.jpg"
                alt="Avatar"
                style="width: 100%"
              />
              <div class="container">
                <h4><b>Educational Information</b></h4>
                <p>
                  Free and available at no cost or obligation to you, our
                  Educational Information offers advice on planning for
                  retierment, looking to earn some addiotinal income and more.
                </p>
                <button type="button" class="btn">
                  <a mat-raised-button color="accent" routerLink="/education">
                    Learn more now</a
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </body>
  </html>
</div>
toastNotification()
